@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');
.d1{
    font-family: 'Merriweather', serif;
    background-color: brown;
    color: white;
    letter-spacing: 15px;
    height: 30px;
    text-align: center;
    border-bottom: 10px solid rgb(193, 70, 25);
}
body{
    background-color: rgb(207, 207, 114);
}
.d2{
    background-color: green;
    color: white;
    height: 20px;
}
img{
    border: 2px solid gray;
}
div{
    margin: 5px;
}
ul{
    color: red;
}
table{
    background-color: lavender;
}
.div4{
    color: grey;
}
.div5{
    font-family: 'Merriweather', serif;
}